
@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WareHouse.styles.css" asp-append-version="true" />
    <title></title>
</head>
<body>
    <div>

        <div class="head-font">About Us</div>

        <div class="main-font">
            <div>WearHouse is a fast fashion brand that was found in 2019. WearHouse aims to provide affordable, high</div>
            <div>quality, trendy, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100</div>
            <div>stores in various cities across Indonesia. We have a commitment to make each of our product available in</div>
            <div>every store, with equal price tags and build qualities regardless of location.</div
        </div>

         <div class="contact-font">Contact Us</div>
        <div class="foot-font">
            <div>Phone: (021) 12345</div>
            <div>Email: support@wearhouse.com</div>
        </div>
    </div>
</body>
</html> 